@media screen and (max-width: 1000px) {
    .hero-site .formularioEntrar .bloquinhos {
        display: none;
    }

    .imagemTelaInicial {
        display: none;
    }

    .telaInicial {
        height: 100vh;
        background-image: url(../Imagens/bloquinhos.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        position: relative;
        width: 100%;
    }
}