@media screen and (max-width: 1000px) {
    .hero-site .formularioEntrar .bloquinhos {
        display: none;
    }

    .imagemTelaInicial {
        display: none;
    }

    .telaInicial {
        background-image: url(../Imagens/bloquinhos.png);
    }

    .card.img-adulto {
        display: none;
    }

    .telaUsuario {
        background-image: url(../Imagens/quebraCabecaMobile.png);
        background-position: left;
    }
}