@media screen and (max-width: 1000px) {
    .hero-site .formularioEntrar .bloquinhos {
        display: none;
    }

    .imagemTelaInicial {
        display: none;
    }

    .card.img-adulto {
        display: none;
    }
}